
<% content_for(:head) do %>
<meta property="og:url"                content="<%= public_url(genurl: @page.url) %>" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="<%= @page.headline %>" />
<meta property="og:description"        content="<%= @page.content %>" />
<meta property="og:image"              content="<%= @page.imgurl %>" />

<% end  %>


<div class="parent <%= @page_bg %>" <%= raw(@custom_image) %>>
  <div class="child <%= @page_h1 %>">
<%= @page.headline %>
  <p class="bodytxt ">
  <%= @page.content %><br><br>
  <button type="button" class="btn btn-default"><%= @page.btn %></button>

  </p>
</div>











