<!--
<div class='poster <%= @page.backgroundimage %>'><p>

<p class="headlien <%= @page.h1_style %>">
  <%= @page.headline %>
</p>

<p class="bodytxt ">
  <%= @page.content %>
</p>


</div>
<div class="back"><%= link_to '← Back', new_page_path(@page) %></div>


<!-- <a href="/pages/new"><div class="back">← Back</div></a> -->

<nav class="navbar navbar-default navi2">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%"new_page_path"%>><%= image_tag("beamop_white.png", :alt => "beamop", :class => "logo2") %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

       <ul class="nav navbar-nav navbar-center centerlinks">
         <li><%= link_to "← Back", new_page_path, :method => :get, :class => "navilinks" %></li>
            <li><%= link_to "Next Design", page_path(@page, h1_style: @page_h1, bg_style: @page_bg),:class => "navilinks" %></li>

       </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
      <li>
            <%= link_to "Logout", destroy_user_session_path, method: "delete", :class => "navilinks" %>
      </li>
     <% else %>
     <li> <%= link_to "Login", user_session_path, :class => "navilinks" %></li>
          <% end %>


        <li>
        <%= link_to "Publish Campaign", publish_page_path(@page, h1_style: @page_h1, bg_style: @page_bg), method: "post", :class => "navilinks" %></li>









        <!-- <li class="dropdown navilinks">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Publish Campaign <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul> -->
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if @page.published? %>
<div class="showurl">
<table class="tg">
  <tr>
    <th class="tg-baqh" style="width:20%; text-align:right;"><iframe class="thumbframe1" src="<%= public_url(genurl: @page.url) %>"></iframe></th>
    <th class="tg-baqh"style="width:60%; border-left:black solid medium; border-right:black solid medium;"><iframe class="thumbframe2" src="<%= public_url(genurl: @page.url) %>"></iframe></th>
    <th class="tg-baqh"style="width:20%"><iframe class="thumbframe3" src="<%= public_url(genurl: @page.url) %>"></iframe></th>
  </tr>
  <tr>
    <td class="tg-baqh" colspan="3">
      <%= link_to "#{public_url(genurl: @page.url)}", public_url(genurl: @page.url), :target => "_blank" %> | <%= link_to "Share on Facebook", "https://www.facebook.com/sharer/sharer.php?u=" + public_url(genurl: @page.url) %>
    </td>
    <td></td>
  </tr>
</table>


</div>
<% end %>




<div class="parent <%= @page_bg %>" <%= raw(@custom_image) %>>
  <div class="child <%= @page_h1 %>">
<%= @page.headline %>
  <p class="bodytxt ">
  <%= @page.content %>
  </p>
</div>











