<!--
<div class='poster <%= @page.backgroundimage %>'><p>

<p class="headline <%= @page.h1_style %>">
  <%= @page.headline %>
</p>

<p class="bodytxt ">
  <%= @page.content %>
</p>


</div>
<!-- <div class="back"><%= link_to '← Back', new_page_path(@page) %></div> -->



<!-- <a href="/pages/new"><div class="back">← Back</div></a> -->





<div class="parent <%= @page.backgroundimage %>">
  <div class="child <%= @page.h1_style %>">
<%= @page.headline %>
  <p class="bodytxt ">
  <%= @page.content %>
  </p>
</div>



  <a href="/pages/new"><div class="back">← Back</div></a>



  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=779386272189403";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-share-button" data-href="http://localhost:3000/pages/111" data-layout="button_count"></div>
</div>




