<!--
<div class='poster <%= @page.backgroundimage %>'><p>

<p class="headline <%= @page.h1_style %>">
  <%= @page.headline %>
</p>

<p class="bodytxt ">
  <%= @page.content %>
</p>


</div>
<div class="back"><%= link_to '← Back', new_page_path(@page) %></div>


<!-- <a href="/pages/new"><div class="back">← Back</div></a> -->


<%= render "shared/navbar" %>



<div class="parent <%= @page.backgroundimage %>">
  <div class="child <%= @page.h1_style %>">
<%= @page.headline %>
  <p class="bodytxt ">
  <%= @page.content %>
  </p>
</div>










