<!DOCTYPE html>
<html>
<head>
   <title><%= yield(:title) || "Your App name" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% # javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
   <!-- Add these line for detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="<%= (yield(:description) || "").squish %>">
<!-- <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700|Source+Code+Pro|Abril+Fatface|Sirin+Stencil|Roboto:400,900,700,300|Knewave' rel='stylesheet' type='text/css'> -->

<%= yield(:head) %>
<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro|Knewave|Abril+Fatface|Sirin+Stencil|Quicksand|Pacifico|Amatic+SC|Dancing+Script|Permanent+Marker|Handlee|Poiret+One|Droid+Sans|Fjalla+One|Vollkorn|Voltaire|Kelly+Slab|Buda:300|Roboto|Playfair+Display' rel='stylesheet' type='text/css'>

<!-- supersized gallery! -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



<!-- supersized gallery! -->





</head>
<body>


  <%= yield %>

  <%= yield(:after_js) %>
<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->
</body>
</html>
